* { 
    margin: 0; 
    padding: 0; 
}

:root {
    --darkBg: #151515;
    --toastBarBackground: #fff;
    --toastBackground: #222121;
}

@font-face {
    font-family: IMBPlexMono;
    src: url('fonts/IBMPlexMono-Regular.ttf');
}

body {
    font-family: IMBPlexMono;
    color: rgb(238, 238, 238);
    overflow: hidden;
    background-color: var(--darkBg);
}

nav {
    background-color: #0e0d0d;
    border-bottom: 2.5px solid rgb(238, 238, 238);
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
}

.encrypted {
    color: rgb(7, 155, 32);
}

a {
    text-decoration: none;
    color: rgb(238, 238, 238);
}

textarea {
    height: 100vh;
    width: 100%;
    resize: none;
    border: none;
    color: rgb(238, 238, 238);
    background-color: var(--darkBg);
    padding: 1em;
    outline: none;
}

.paste-del {
    position:absolute;
    top:8;
    right:0;
    margin-right: 1em;
    margin-top: 1em;
}

.paste-del button {
    text-align: center;
    border: none;
    padding: .5em 1em;
    background-color: rgb(121, 30, 10);
    color: #fff;
    outline: none;
    outline: 0px solid rgb(121, 30, 10);
}

.paste-del button:hover {
    transition: 300ms;
    background-color: rgb(90, 27, 13);
    outline: 1px solid rgb(121, 30, 10);
    cursor: pointer;
}

.hljs {
    height: 90vh;
    width: 100%;
    white-space: pre-wrap;
}

::-moz-selection, ::selection {
    color: rgb(255, 255, 255) !important;
    background: rgb(75, 75, 72) !important;
}
