* { 
    margin: 0; 
    padding: 0; 
}

:root {
    --darkBg: #191724;
    --textWhite: rgb(238, 238, 238);
    --toastBarBackground: #565174;
    --toastBackground: #211f29;
}

@font-face {
    font-family: IMBPlexMono;
    src: url('fonts/IBMPlexMono-Regular.ttf');
}

body {
    font-family: IMBPlexMono;
    color: var(--textWhite);
    overflow-x: hidden;
    background-color: var(--darkBg);
}

nav {
    background-color: #0c0b10;
    border-bottom: 2.5px solid var(--textWhite);
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
}

nav .nav-right {
    display: flex;
    justify-content: space-around;
}

.encrypted {
    color: rgb(7, 155, 32);
    background-color: var(--darkBg);
    padding: .5em 1em;
    border-radius: 1em;
}

a {
    text-decoration: none;
    color: var(--textWhite)
}

textarea {
    height: 100vh;
    width: 100%;
    resize: none;
    border: none;
    color: var(--textWhite);
    background-color: var(--darkBg);
    padding: 1em;
    outline: none;
}

input {
    transition: 100ms;
    color: var(--textWhite);
    background-color: var(--darkBg);
    border: 0 solid #3b3457;;
    height: 1em;
    padding: .5em 1em;
}

input:focus {
    transition: 200ms;
    outline: none;
    border-bottom: 2.5px solid #3b3457;
}

button {
    border-radius: 1em;
}

.pass-feedback {
    font-size: .8em;
    margin-left: .2em;
}

.paste-del {
    position: absolute;
    top:8;
    right:0;
    margin-right: 1em;
    margin-top: 1em;
}

.paste-del button {
    transition: 300ms;
    text-align: center;
    border: none;
    padding: .5em 1em;
    background-color: rgb(121, 30, 10);
    color: var(--textWhite);
    outline: none;
}

.paste-del button:hover {
    transition: 300ms;
    background-color: rgb(90, 27, 13);
    cursor: pointer;
}

.dark-button {
    transition: 300ms;
    text-align: center;
    border: none;
    padding: .5em 1em;
    background-color: var(--darkBg);
    color: var(--textWhite);
    outline: none;
}

.dark-button:hover {
    transition: 300ms;
    background-color: #16151d;
    cursor: pointer;
}

.dark-button:disabled {
    cursor: default;
    background-color: #13121c;
}

/* 🏳️‍⚧️🏳️‍⚧️🏳️‍⚧️🏳️‍⚧️🏳️‍⚧️ */
.trans-button {
    transition: 300ms;
    background-color: transparent;
    border: none;
    color: var(--textWhite);
    text-align: left;
}

.trans-button:hover {
    transition: 300ms;
    color: rgb(157, 157, 157);
    cursor: pointer;
}
/* 🏳️‍⚧️🏳️‍⚧️🏳️‍⚧️🏳️‍⚧️🏳️‍⚧️ */

.hljs {
    min-height: 100vh;
    white-space: pre-wrap;
    margin-bottom: 60vh;
}

::-moz-selection, ::selection {
    color: rgb(255, 255, 255) !important;
    background: rgb(75, 75, 72) !important;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #0b0b0ea4;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form > input {
    border-radius: 1em;
    margin-bottom: .5em;
}

.header {
    border-bottom: 2px solid #0c0b1052;
    margin-bottom: .5em;
}

.contents {
    min-width: 40vw;
    border-radius: 1em;
    padding: 1rem;
    background-color: #24203a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: auto;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin-bottom: .5em;
    border-radius: 1em;
    background-color: var(--darkBg) !important;
    border: none;
}

progress::-webkit-progress-bar {
    border-radius: 1em;
    background-color: var(--darkBg) !important;
}

progress::-webkit-progress-value {
    border-radius: 1em;
    background-color: #3b3457;
}

progress::-moz-progress-bar {
    border-radius: 1em;
    background-color: #3b3457;
}

.captcha {
    display: flex;
    align-items: flex-start;
}

.captcha button {
    margin-left: .5em;
}

.captcha img {
    width: 80%;
    border-radius: 1em;
}