* {
    margin: 0;
    padding: 0;
}

:root {
    --darkBg: #191724;
    --darkerBg: #0c0b10;
    --darkBgTrans: #0c0b10b7;
    --lightBg: #1c1735;
    --lighterBg: #8478c9;
    --textWhite: #c7c3c3;
    --line-number-color: var(--lighterBg);
    --border-color: var(--lighterBg);
    --border: solid 2px var(--lighterBg);
    --placeholder-color: var(--textWhite);
}

body {
    background-color: var(--darkBg);
    color: var(--textWhite);
    font-family: FiraCode, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: MajorMonoDisplay;
    color: #ffffff;
}

@font-face {
    font-family: MajorMonoDisplay;
    src: url(./fonts/MajorMonoDisplay-Regular.ttf) format('truetype');
}

@font-face {
    font-family: FiraCode;
    src: url(./fonts/FiraCode-Regular.ttf) format('truetype');
}

input {
    background-color: var(--lightBg);
    border: none;
    color: var(--textWhite);
    padding: .6em 1em;
    font-size: 1em;
    border-radius: 3em;
}

input:focus {
    outline: none;
}

label {
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    background-color: var(--darkerBg);
}

main {
    padding: 1em 3em 0;
}

textarea {
    background-color: transparent;
    color: var(--textWhite);
    border: none;
    resize: none;
    box-sizing: border-box;
    width: 90vw;
    height: 80vh;
    overflow: hidden;
    font-family: FiraCode;
    font-size: .8em;
}

textarea:focus {
    outline: none;
}

textarea:placeholder-shown {
    color: var(--lighterBg);
    font-size: 1.2em;
    font-family: FiraCode;
}

section {
    background-color: var(--darkerBg);
    padding: 1em 3em;
    border-radius: 3em;
}

a {
    color: var(--textWhite);
    text-decoration: none;
}

a:hover {
    color: var(--lighterBg);
}

::-moz-selection,
::selection {
    color: var(--textWhite) !important;
    background: var(--lighterBg) !important;
}

button, .button {
    text-transform: capitalize;
    background-color: var(--lightBg);
    padding: .6em 1em;
    border-radius: 1em;
    border: none;
    color: var(--textWhite);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

button i,
.button i {
    margin-right: .2em;
    font-size: 1.3em;
}

button:hover, .button:hover {
    text-decoration: none;
    background-color: var(--darkBg);
    cursor: pointer;
    color: var(--lighterBg);
}

button.danger, .button.danger {
    background-color: var(--lighterBg);
    color: var(--darkerBg);
}

button.danger:hover,
.button.danger:hover {
    background-color: var(--darkBg);
    color: var(--lighterBg);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--darkerBg);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5em;
    padding: 1em;
    z-index: 1010;
}

.toast {
    background-color: var(--lightBg) !important;
    color: var(--textWhite) !important;
    border-radius: 3em !important;
    font: FiraCode;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.modal .contents {
    min-width: 30vw;
    padding: 2em;
    background: var(--darkerBg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: auto;
    border-radius: 3em;
    border: solid 3px var(--darkBg);
}

.modal .contents > .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5em;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--darkBgTrans);
}

.svelte-select {
    background-color: var(--lightBg) !important;
    color: var(--textWhite) !important;
    object-fit: contain;
    width: 200px !important;
    border-radius: 3em !important;
    border: none !important;
}

.svelte-select-list {
    background-color: var(--lightBg) !important;
}

.svelte-select-list .active {
    background-color: var(--lighterBg) !important;
}

.svelte-select-list .hover {
    background-color: var(--lighterBg) !important;
}

.svelte-select.focused {
    border: none !important;
}

pre > code {
    font-family: FiraCode, monospace;
    font-size: .8em;
}

@media screen and (max-width: 600px) {
    .svelte-select {
        width: 100% !important;
    }
}

@media screen and (max-width: 600px) {
    .modal .contents {
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    section {
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding: 1em 0;
    }
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        row-gap: 1em;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 1em 0;
    }
}