[tool.poetry]
name = "paaster"
version = "2.0.0"
description = ""
authors = ["WardPearce <wardpearce@protonmail.com>"]
packages = [
    {include = "*", from = "app"},
    {include = "run.py"}
]

[tool.poetry.scripts]
server = "run:main"

[tool.poetry.dependencies]
python = "^3.10"
motor = "^3.1.2"
bcrypt = "^4.0.1"
aiobotocore = "^2.7.0"
nanoid = "^2.0.0"
argon2-cffi = "^23.1.0"
litestar = {extras = ["full"], version = "^2.2.1"}
types-aiobotocore-s3 = "^2.7.0"
pydantic = "^2.4.2"
pydantic-settings = "^2.0.3"
uvicorn = "^0.23.2"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.3"

[tool.poetry.group.dev.dependencies]
black = "^23.10.0"
mypy = "^1.6.1"
types-aiobotocore = "^2.7.0"
motor-types = "^1.0.0b3"
pytest-asyncio = "^0.21.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
