[tool.poetry]
name = "paaster"
version = "2.0.0"
description = ""
authors = ["WardPearce <wardpearce@protonmail.com>"]
packages = [
    {include = "*", from = "app"},
    {include = "run.py"}
]

[tool.poetry.scripts]
server = "run:main"

[tool.poetry.dependencies]
python = "^3.10"
motor = "^3.3.2"
bcrypt = "^4.1.2"
aiobotocore = "^2.11.2"
nanoid = "^2.0.0"
argon2-cffi = "^23.1.0"
litestar = {extras = ["full"], version = "^2.6.1"}
types-aiobotocore-s3 = "^2.11.2"
pydantic = "^2.6.1"
pydantic-settings = "^2.1.0"
uvicorn = "^0.27.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.4"

[tool.poetry.group.dev.dependencies]
black = "^24.1.1"
mypy = "^1.7.1"
types-aiobotocore = "^2.11.2"
motor-types = "^1.0.0b3"
pytest-asyncio = "^0.23.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
