[tool.poetry]
name = "paaster"
version = "2.0.0"
description = ""
authors = ["WardPearce <wardpearce@protonmail.com>"]
packages = [
    {include = "*", from = "app"},
    {include = "run.py"}
]

[tool.poetry.scripts]
server = "run:main"

[tool.poetry.dependencies]
python = "^3.10"
starlite = {extras = ["full"], version = "^1.51.12"}
motor = "^3.2.0"
bcrypt = "^4.0.1"
aiobotocore = "^2.4.2"
nanoid = "^2.0.0"
uvicorn = "^0.22.0"
argon2-cffi = "^21.3.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.0"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
mypy = "^1.3.0"
types-aiobotocore = "^2.5.0"
motor-types = "^1.0.0b2"
pytest-asyncio = "^0.21.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
