name: Development Vite workflow

on:
  push:
    branches:
    - Development

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./paaster-frontend

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install modules
        run: npm install
      - name: Check codebase
        run: npm run check
